.Button {
    border: solid var(--border-size-thin);
    padding: var(--padding-normal);

    background: var(--color-background);
}

.Button:enabled {
    border-color: var(--color-primary);
    color: var(--color-primary);
}

.Button:hover:enabled {
    background-color: var(--color-primary);
    color: var(--color-background);
    cursor: pointer;
}

.Button:disabled {
    border-color: var(--color-text);
    color: var(--color-text);
}
