.Button {
    border: solid 4px green;
    padding: 8px;

    color: green;
    background: transparent;
}

.Button:hover, .Button:active {
    background-color: green;
    color: black;
    cursor: pointer;
}

