.Button {
    border: solid var(--border-size-thin) var(--color-primary);
    padding: var(--padding-normal);

    color: var(--color-primary);
    background: var(--color-background);
}

.Button:hover, .Button:active {
    background-color: var(--color-primary);
    color: var(--color-background);
    cursor: pointer;
}
