.GadgetRows {
    justify-content: space-evenly;
    margin-top: var(--padding-big);
    flex-wrap: wrap;
    row-gap: var(--padding-big);
}

.DropDown {
    border: solid var(--border-size-thin);
    padding: var(--padding-normal);

    background: var(--color-background);
    border-color: var(--color-primary);
    color: var(--color-primary);
}