
#screen {
    aspect-ratio: calc(352 / 160);
    flex-grow: 1;
    object-fit: contain;
    max-width: 100vw;
    max-height: 100vh;
    flex-shrink: 0;

    border: solid var(--border-size-thick);
    border-color: var(--color-primary);
}
