.Controls {
    text-align: center;
    gap: calc(4 * var(--padding-normal));
}

.Controls-Container {
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
    gap: var(--padding-normal);
}

kbd {
    --kbd-key-size: 2em;

    background: var(--color-primary);
    padding: var(--padding-normal);
    display: block;

    width: var(--kbd-key-size);
    height: var(--kbd-key-size);
    text-align: center;
    user-select: none;
    color: black;
}

kbd.space {
    width: calc(3 * var(--kbd-key-size) + 2 * var(--padding-normal));
    margin-top: calc(var(--kbd-key-size) + var(--padding-normal));
}
