@font-face {
    font-family: 'CCCBFont';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/CCCBFont.ttf') format('ttf'), url('/CCCBFont.woff') format('woff');
}

* {
    box-sizing: border-box;
    font-family: CCCBFont, monospace;
    text-transform: uppercase;
}

html, body {
    height: 100%;

    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;
    color: white;
}

#root {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95vw;
    height: 95vh;
}

.grow {
    flex-grow: 1;
}
