@font-face {
    font-family: 'CCCBFont';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/CCCBFont.ttf') format('ttf'), url('/CCCBFont.woff') format('woff');
}

* {
    box-sizing: border-box;
    font-family: CCCBFont, monospace;
    text-transform: uppercase;
}

:root {
    --color-background: black;
    --color-primary: green;
    --color-secondary: rgb(76, 76, 76);
    --color-text: white;

    --border-size-thin: 4px;
    --border-size-thick: 8px;

    --padding-normal: 8px;
}

html, body {
    height: 100%;

    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-background);
    color: var(--color-text);
}

#root {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95vw;
    height: 95vh;
}

.flex-grow {
    display: flex;
    flex-grow: 1;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
