@keyframes BlinkJoinFormBorder {
    from {
        border-color: var(--color-secondary);
    }

    to {
        border-color: var(--color-primary);
    }
}

.JoinForm {
    animation-duration: 1s;
    animation-name: BlinkJoinFormBorder;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
