
.MapChooser-Row {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.MapChooser-Preview {
    flex-grow: 1;
    padding: var(--padding-normal);
    border: solid var(--border-size-thin) var(--color-primary);
}

.MapChooser-Preview-Highlight {
    border-color: var(--color-secondary);
}

.MapChooser-Dialog {
    width: 100%;
}
